<template>
    <div class="login">
        <div class="login-form-wrap">
            <h3 class="login-form-title">欢迎登陆</h3>
            <div class="login-form">
                
                <el-form :model="usersFormInfo" ref="formInfo" :rules="rules" class="demo-form-inline" size="small">
                    <el-form-item prop="username">
                        <el-input v-model="usersFormInfo.username" placeholder="用户名">
                            <el-button slot="prepend" icon="el-icon-s-custom"></el-button>
                        </el-input>
                    </el-form-item>
                    <el-form-item prop="password">
                        <el-input show-password v-model="usersFormInfo.password" placeholder="密码">
                            <el-button slot="prepend" icon="el-icon-lock"></el-button>
                        </el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button class="login-form-btn" type="primary" @click.native="login()">查询</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </div>
    </div>
</template>

<script>
import {login} from '../http/api';
export default {
    data() {
        return {
            usersFormInfo: {
                username: "",
                password: ""
            },
            rules:{
                username:[
                    {required:true,message:'请输入用户名',trigger:'blur'}
                ],
                password:[
                    {required:true,message:'请输入用密码',trigger:'blur'}
                ]
            }
        }
    },
    methods: {
        login(){
            this.$refs['formInfo'].validate(async (valid) => {
                try{
                    if(valid){
                        const res = await login(this.usersFormInfo);
                        const {token,username} = res.data;
                        this.$message({
                            type:'success',
                            message:'欢迎回来,' + res.data.username
                        });
                        this.$store.commit('setToken',token);
                        this.$store.commit('setUserName',username);
                        this.$router.replace({
                            name:'users'
                        });
                    }else{
                        return false
                    }
                }
                catch(err){}
            })
        }
    }
};
</script>

<style lang="scss" scoped>
.login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    background: url(https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg)
        center center no-repeat;
    background-size: cover;
    .login-form-wrap {
        width: 300px;
        margin-right: 160px;
        background: #fff;
        box-sizing: border-box;
        padding: 15px;
        border-radius: 15px;
        .login-form-title {
            padding-bottom: 15px;
            font-size: 14px;
            font-weight: 700;
            border-bottom: 1px solid #ddd;
        }
        .login-form {
            padding: 15px;
            .login-form-btn {
                width: 100%;
            }
        }
    }
}
</style>